li {
  display: flex;
 padding-right: 0px;
 text-align: right;
 justify-content:flex-end;
 }
 h2 {
   color: orangered
 }
 ul {
   color: white;
   display: flex;
   padding: 40px;
   flex-direction: column-reverse;
   width: 400px;
   background: rgb(2,0,36);
 background: linear-gradient(0deg, rgba(2,0,36,1) 5%, rgba(182,50,13,1) 46%, rgba(255,93,0,1) 100%);
   border: 1px solid grey;
   border-radius: 5px;
   box-shadow: 2px 2px 10px grey;
 }